/*------------------------- Navbar -------------------------*/

nav {
    background-color: #ff9800;
}


/*------------------------ End of navbar ------------------------ */


/*------------------------- Table Styles -------------------------*/

.fixed-btn {
    position: fixed;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 999;
}

/* --------------------------------------------------------------- */
