.header {
    color: #ee6e73;
    font-weight: 300;
}

#classes {
    max-width: 950px;
    width: 90%;
    height: 90%;
    margin: auto;
}

.collapsible-header {
    position: relative;
}

#ClassUL li {
    min-width: 265px;
}

.note {
    font-size: 14px;
    color: #ada3a3;
    position: absolute;
    right: 20px;
}

@media (max-width:465px) {
    #ClassUL li {
        margin: 0;
    }
    #classes {
        width: 100%;
    }
}

#classes .card-content {
    padding: 24px 24px 50px;
}

@media (max-width:385px) {
    #classes .card-content {
        padding: 24px 8px 50px;
    }
    .collapsible-body {
        padding: 1.5rem 8px;
    }
}

.modal.bottom-sheet {
    max-height: 80% !important;
}

.modal .modal-content {
    padding: 24px 24px 0px;
}

.collapsible-body {
    position: relative;
    background-color: white;
}

.collection .collection-item.avatar i.circle {
    font-size: 32px;
}

.collection {
    border: 1px solid #dedede !important;
}

.tap-target-content {
    color: white;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.p-0 {
    padding: 0px !important;
}

.no-data {
    text-align: center;
    color: gray;
}

.dropdown-content li {
    min-height: 36px;
}

.select-dropdown li img {
    width: 30px;
    height: 30px;
    margin: 3px 15px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    padding: 0px 16px;
    line-height: 36px;
}